{% extends 'PimUserBundle::layout.html.twig' %}

{% block bodyClass %}AknLogin{% endblock %}

{% block content %}
<script type="text/javascript">
    sessionStorage.clear();
    document.title = '{{ 'Login'|trans }}';
</script>

    <div class="AuthenticationWrapper">
        <div class="LeftWrapper">
            <div class="FormWrapper">


{# start of the original form for compatibility#}
                <div class="AknLogin-title">
                    {% embed 'PimUIBundle::logo.html.twig' %}{% endembed %}
                </div>

                {% if error %}
                    <div class="AknMessageBox AknMessageBox--error">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form action="{{ path(action_route) }}" method="post" class="form-signin form-inline">
                    <div class="AknLogin-form">
                        <div class="AknLogin-formCell">
                            <label class="InputLabel" for="username_input">{{ 'pim_user.user.login.username_or_email'|trans }}</label>
                            <input class="AknTextField" type="text" id="prependedInput" autofocus="autofocus" name="_username" value="{{ last_username }}" required="required"  size="1"/>
                        </div>
                        <div class="AknLogin-formCell">
                            <label class="InputLabel" for="username_input">{{ 'pim_user.user.fields.password'|trans }}</label>
                            <input class="AknTextField" type="password" id="prependedInput2" name="_password" required="required"  autocomplete="off" size="1"/>
                        </div>
                    </div>
                    <div class="AknLogin-form">
                        <div class="AknLogin-formCell">
                            <label class="checkbox remember-me">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'pim_user.user.login.remember_me'|trans }}
                            </label>
                        </div>
                        <div class="AknLogin-formCell AknLogin-formCell--small">
                            <div class="signin-help">
                                <a class="AknLogin-link" href="{{ path('pim_user_reset_request') }}">{{ 'pim_user.user.login.password_forgotten'|trans }}</a>
                            </div>
                        </div>
                        <div class="AknLogin-formCell">
                            <button class="AknButton AknButton--apply AknButton--big" type="submit" id="_submit" name="_submit">
                                {{ 'pim_user.user.login.log_in'|trans }}
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="_target_path" value="" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% for field in additional_hidden_fields %}
                        <input type="hidden" name="{{ field.field_name }}" value="{{ app.request.query.get(field.initialized_by) }}" />
                    {% endfor %}
                </form>
{#end of original form#}

            </div>
        </div>
        <div class="RightWrapper">
            <div style="text-align: center;padding: 40px;align-items: center;color: darkgreen;" >
                <div>
                    <img width="300px" src="http://api.uat.zhcc.mohz.go.tz/smz-logo.png"/>
                    <p style="font-size: 30px; font-weight: bolder;line-height: 35px">Welcome to Zanzibar Health Commodity Catalogue</p>
                </div>
                <div style="font-size: 25px;line-height: 30px">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel egestas dolor, nec dignissim metus. Donec
                        augue elit, rhoncus ac sodales id, porttitor vitae est. Donec laoreet rutrum libero sed pharetra.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
