<div style="background-color: lightgray;align-items: center;margin: auto;width: 800px">

    <div style="text-align: center;padding: 40px;align-items: center;color: darkgreen;" >
        <div>
            <img width="300px" src="https://cdn.pixelbin.io/v2/dummy-cloudname/erase.bg(shadow:true)/__editor/__erase_bg/2023-5-24/SMZ-logo-scaled_(1).jpeg?download=true"/>
            <p style="font-size: 30px; font-weight: bolder;line-height: 35px">Welcome to Zanzibar Health Commodity Catalogue</p>
        </div>
        <div style="font-size: 25px;line-height: 30px">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel egestas dolor, nec dignissim metus. Donec
                augue elit, rhoncus ac sodales id, porttitor vitae est. Donec laoreet rutrum libero sed pharetra.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel egestas dolor, nec dignissim metus. Donec
                augue elit, rhoncus ac sodales id, porttitor vitae est. Donec laoreet rutrum libero sed pharetra.
            </p>
        </div>
    </div>
</div>