@AknDarkPurple: #718FAD;
@AknPurple: #006ba1;      // TODO Change this to @AknDarkPurple
@AknLightPurple: #006ba1; // This is used in text color

.AknLogin {
  background: white;
  background-image: url(/bundles/pimui/images/login.png);
}

.AknHeader-menu {
  background-image: url('/bundles/pcmtcore/images/no-tape.jpg');
}

.AknLogin-form{
  display: block;
}

.AknLogin-formCell{
  display: block;
  margin: 15px;
}


/* New login page */
.AknLogin {
  /**
   * Based on the Helper component from Akeneo Design System
   * @see https://github.com/akeneo/pim-community-dev/blob/master/akeneo-design-system/src/components/Helper/Helper.tsx
   */
}
.AknLogin .AuthenticationWrapper {
  color: #67768a;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 6fr;
}
@media (max-width: 768px) {
  .AknLogin .AuthenticationWrapper {
    grid-template-columns: 1fr;
  }
}
.AknLogin .LeftWrapper {
  display: grid;
  grid-template-rows: 1fr max-content;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
}
.AknLogin .RightWrapper {
  background: #ffda79;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .AknLogin .RightWrapper {
    display: none;
  }
}
.AknLogin .FormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 140px;
}
.AknLogin .FormWrapper .Logo {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.AknLogin .FormWrapper .Logo img {
  max-width: 250px;
  max-height: 60px;
}
.AknLogin .FormWrapper .ContainerForm {
  justify-content: center;
  display: grid;
  grid-template-rows: max-content 1fr;
  width: 100%;
  margin-bottom: 20px;
}
.AknLogin .Footer {
  text-decoration: none;
}
.AknLogin .Footer .Powered {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5em;
  font-size: 13px;
  align-items: flex-end;
  color: #11324d;
}
.AknLogin .Footer .PoweredImage {
  max-height: 20px;
  margin-left: 0.5em;
}
.AknLogin .Footer .BaseLine {
  color: #9452BA;
  font-size: 13px;
  text-align: center;
}
.AknLogin .IllustrationLogin {
  //background-image: url('https://demo.akeneo.com/bundles/pimui/images/illustrations/login/Artboard.png');
  background-image: url('https://mohz.go.tz/wp-content/uploads/2020/12/SMZ-logo-scaled.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 600px;
  background-position: center;
}
.AknLogin .Form {
  width: 296px;
}
.AknLogin .Form .InputGroup {
  margin-bottom: 30px;
  width: 100%;
}
.AknLogin .Form .InputBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.AknLogin .Form .InputBlock input {
  margin-top: 0.6em;
}
.AknLogin .Form .InputContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.AknLogin .Form .InputLabel {
  color: #67768a;
  font-size: 13px;
}
.AknLogin .Form .InputText {
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #c7cbd4;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
}
.AknLogin .Form .InputText :focus {
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #D9DDE2;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.3);
  outline: none;
}
.AknLogin .Form .InputText.error {
  border: 1px solid #D4604F;
  margin-bottom: 5px;
}
.AknLogin .Form .RememberMe {
  margin-bottom: 20px;
  font-size: 13px;
}
.AknLogin .Form .RememberMe label {
  cursor: pointer;
}
.AknLogin .Form .RememberMe input[type="checkbox"] {
  margin: -3px 8px 0 0;
  width: 20px;
  height: 20px;
}
.AknLogin .PasswordReset,
.AknLogin .CancelPasswordReset {
  margin-bottom: 20px;
  font-size: 13px;
}
.AknLogin .PasswordReset a,
.AknLogin .CancelPasswordReset a {
  color: #9452BA;
  cursor: pointer;
}
.AknLogin .Messages {
  width: 296px;
  margin-bottom: 20px;
}
.AknLogin .AknButton {
  font-size: 13px;
}
.AknLogin .Helper {
  display: flex;
  font-weight: 400;
  padding-right: 20px;
  color: #a94c3f;
  min-height: 44px;
  background-color: #FAEFED;
}
.AknLogin .Helper .Icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin: 12px 10px;
  color: #a94c3f;
  background-image: url("/bundles/pimui/images/icon-danger-darkred.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.AknLogin .Helper .Text {
  white-space: break-spaces;
  padding-left: 10px;
  margin: 12px 0;
  border-left: 1px solid #a94c3f;
}
.AknLogin .Helper .Text a {
  color: #a94c3f;
  margin: 0 3px;
}
.AknLogin .Helper--info,
.AknLogin .Helper--success {
  color: #67768a;
  background-color: #F5F9FC;
}
.AknLogin .Helper--info .Icon,
.AknLogin .Helper--success .Icon {
  color: #5992C7;
  background-image: url("/bundles/pimui/images/icon-info.svg");
}
.AknLogin .Helper--info .Text,
.AknLogin .Helper--success .Text {
  border-left: 1px solid #c7cbd4;
}
.AknLogin .Helper--info .Text a,
.AknLogin .Helper--success .Text a {
  color: #5992C7;
}
.AknLogin .Helper--warn {
  color: #c79032;
  background-color: #FEF7EC;
}
.AknLogin .Helper--warn .Icon {
  color: #c79032;
  background-image: url("/bundles/pimui/images/icon-danger-orange.svg");
}
.AknLogin .Helper--warn .Text {
  border-left: 1px solid #c79032;
}
.AknLogin .Helper--warn .Text a {
  color: #c79032;
}
.AknLogin .Helper--inline {
  min-height: auto;
  background-color: transparent;
}
.AknLogin .Helper--inline .Icon {
  height: 16px;
  margin: 2px 0;
}
.AknLogin .Helper--inline .Text {
  padding-left: 4px;
  margin: 0;
  border-left: none;
}